{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Count{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "count.css" %}">

    <style>
        select {
            font-size: 120%;
            width: 100%;
        }
    </style>
    {{ form.media }}
{% endblock %}

{% block body_class %}text-center{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-transparent">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav mr-auto">
            </ul>
            <ul class="nav justify-content-end">
                <a class="nav-link btn" href="{% url 'base_menu' %}" role="button">Menu</a>
                <a class="nav-link btn" href="{% url 'logout' %}" role="button">Logout</a>
            </ul>

        </div>
    </nav>

    <form class="form-count" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="">
        <img class="mb-4" src="{% static "logo.png" %}" alt="" width="120" height="120">

        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-muted">© FC Tools 2020</p>
    </form>
{% endblock %}
