{% extends 'base.html' %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block headers %}
{% endblock %}

{% block body_class %}text-center{% endblock %}

{% block content %}

    <input type="hidden" name="next" value="">
    <div>
        <img class="mb-4" src="{% static "logo.png" %}" alt="" width="100" height="100">
    </div>

    <a href="{% url 'update_db' %}" class="btn btn-lg btn-primary">Edit database</a>
    <br>
    <br>
    <a href="{% url 'count' %}" class="btn btn-lg btn-primary">Count salary</a>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-transparent">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav mr-auto">
            </ul>
            <ul class="nav justify-content-end">
                <a class="nav-link btn" href="{% url 'logout' %}" role="button">Logout</a>
            </ul>

        </div>
    </nav>

    <footer class="container">
        <p class="mt-5 mb-3 text-muted">Logged in as {{ user }}</p>
        <p class="text-muted">© FC Tools 2020</p>
    </footer>

{% endblock %}
