{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}
{% block headers %}
    <style type="text/css">
        #centerLayer {
            margin-left: 30%;
            width: 40%;
            padding: 10px;
        }
    </style>
    <style>
        .btn {
            display: inline-block;
            background: #8C959D;
            color: #fff;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <a href="{% url 'update_db' %}" class="btn" id="centerLayer">Редактировать базу данных</a>
        <br>
        <br>
        <a href="{% url 'count' %}" class="btn" id="centerLayer">Расчёт</a>
        <p id="centerLayer">Logged in as {{ user }}. <a href="{% url 'logout' %}">Logout?</a></p>
    </div>
{% endblock %}
